/* Navbar */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
  
 
  .navbar-toggler-icon {
    background-color: #333; /* Cambia el color del icono del botón de hamburguesa */
  }
  

  .navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Cambia el color del enlace activo en la barra de navegación */
  }
  

  .navbar-nav .nav-item .nav-link:hover {
    color: #555; /* Cambia el color del enlace al pasar el mouse sobre él */
  }
  
  /* Termino Navbar */

  body {
    position: fixed;
    height: -webkit-fill-available;
    width: -webkit-fill-available;    
  }
  
  main {
    height: -webkit-fill-available;
    background-image: url("https://cdn.pixabay.com/photo/2015/09/09/19/56/office-932926_1280.jpg"); 
    background-position: center; 
  }
  .panel {
    background-color: #fff;
    border-radius: 0;    
  }
  .card {
    border: 0;
  }
  .card-title  {
    color: #0f4c75;
  }
  .card-body {
    color: #0f4c75;
  }
  .form-control {
    border: 0;
    border-bottom: 1px solid #0f4c75;
    border-radius: 0;
  }
  .btn-primary {
    background-color: #0f4c75;
    color: #fff;
    border: 0;
  }
  #registrate {
    color: #0f4c75;
    font-weight: 700;
  }
  footer {
    position: absolute;
    bottom: 20px;
    color: #3282b8;  
  }