* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-image: url("https://cdn.pixabay.com/photo/2015/09/09/19/56/office-932926_1280.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* Navbar */
  .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .navbar-nav .nav-item {
      margin-right: 10px;
    }
    
    .navbar-nav .nav-link {
      font-size: 1.2rem;
    }
    
   
    .navbar-toggler-icon {
      background-color: #333; /* Cambia el color del icono del botón de hamburguesa */
    }
  
    

/*Registro*/

/*body
{
    background-color: #2365e0;
    color: #ffffff
}
h1
{
   text-transform:uppercase;
    font: bold 20px/45px Helvetica, Verdana, sans-serif;
    text-align: center;
}
label 
{
    display: block;
}
h2 
{
    font: bold 14px Helvetica, Verdana, sans-serif;
    background-color: #003366;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    margin: 0px auto;
}
div 
{
    background-color: #4d82e6;
    width: 300px;
    margin: 0px auto;
    padding: 10px;
    border-radius: 15px;
}